<form>
    <h2> Sign up Form </h2>
    <label> Username </label>
    <input type="text" [(ngModel)]="username" name="username"/>
    <br>
    <label> Password </label>
    <input type="password" [(ngModel)]="password" name="password"/>

    <button (click)="signup(username, password)"> SIGN UP </button>
  </form>
  <p class="error"> {{ error }} </p>





<!-- <div class="container">
  <br />
  <form (ngSubmit)='signup()' [formGroup]='signupForm' novalidate class="form">
      <label> Username </label>
      <input formControlName='Username' type="text" class="form-control" placeholder="Username" />
      <div class="alert  alert-danger" *ngIf="signupForm.get('Username').hasError('required') && signupForm.get('Username').touched">
         Username is required
      </div>
      <br>
      emailform 
      <label> Password </label>
      <input formControlName='password' type="password" class="form-control" placeholder="Enter Password" />
      <div class="alert  alert-danger" *ngIf=" !signupForm.get('password').valid && signupForm.get('email').touched">
          Password is required and should be more than 5 characters
      </div>
      <br>
      <label> Phone Number </label>
      <input formControlName='phonenumber' type="text" class="form-control" placeholder="Enter Phone Number" />
  <div class="alert  alert-danger" *ngIf="signupForm.get('phonenumber').hasError('required') && signupForm.get('phonenumber').touched">
      Phone Number is required
  </div>
  <br>
      <button [disabled]='signupForm.invalid' class="btn">Sign up</button>
  </form>
  <p class="error"> {{ error }} </p>
</div>
 -->