<h1> Sign up in {{title}}</h1>
<div class="sign">
    <div class="frm">
    <form>
        <label> Username </label>
        <input type="text" [(ngModel)]="username" name="username" />
        <br>
        <label> Password </label>
        <input type="password" [(ngModel)]="password" name="password" />
        <br>
        <label> Email</label>
        <input type="email" [(ngModel)]="email" name="email" />
        <br>
        <label>Date of Birth</label>
        <input type="date" [(clrDate)]="date">
        <button class="btn" (click)="signup(username, password)"> SIGN UP </button>
    </form>
</div>
    <div class="why">
        <h2>Why {{title}}?</h2>
        <h3>Community</h3> 
        <p>Express your opinion in the biggest videogame forum!</p>
        <h3>Store your favourite videogames!</h3>
        <p>Don't skip any information about your videogames</p>
        <h3>Your own Profile</h3>
        <p>Customize your profile, meet new people and share your passion!
        </p>
    </div>
</div>
<p class="error"> {{ error }} </p>

