<h1> Sign up in {{title}}</h1>
<div class="sign">
    <form>
        <div class="frm"> 
        <input type="text" [(ngModel)]="username" placeholder="Username" name="username" required />
        <br>
        <input type="password" [(ngModel)]="password" placeholder="Password" name="password" required />
        <br>
        <input type="email" [(ngModel)]="email"placeholder="Email" name="email" required />
        <br>
        <input type="date" clrDate [(ngModel)]="birth"placeholder="Birth" name="birth" required >
        <button class="btn" (click)="signup(username, password, email, birth)"> SIGN UP </button>
    </div>
    </form>
    <div class="why">
        <h2>Why {{title}}?</h2>
        <h3>Community</h3> 
        <p>Express your opinion in the biggest videogame forum!</p>
        <div>
        <i class="fas fa-hdd"></i> <h3>Store your favourite videogames!</h3>
        </div>
        <p>Don't skip any information about your videogames</p>
        <h3>Your own Profile</h3>
        <p>Customize your profile, meet new people <br>
         and share your passion!
        </p>
    </div>
</div>
<p class="error"> {{ error }} </p>

