<header class="header-6">
    <div class="branding">
        <a [routerLink]="['/']" class="nav-link">
            <span class="title">FreaksForum</span>
        </a>
    </div>
    <form class="search">
        <label for="search_input">
            <input id="search_input" type="text" placeholder="Search Something">
        </label>
    </form>
    <div class="header-actions">
        <clr-dropdown>
            <button class="nav-icon" clrDropdownTrigger>
                <clr-icon shape="cog"></clr-icon>
                <clr-icon shape="caret down"></clr-icon>
            </button>
            <clr-dropdown-menu *clrIfOpen clrPosition="bottom-right">
                <li *ngIf="!sessionService.user">
                    <a [routerLink]="['/signup']">Sign up</a>
                </li>
                <li *ngIf="!sessionService.user">
                    <a [routerLink]="['/login']">Log in</a>
                </li>
                <li *ngIf="sessionService.user">
                    <a [routerLink]="['/']" (click)="logout()">Log out</a>
                </li>
                <li *ngIf="sessionService.user">
                    <a [routerLink]="['/private']">Private</a>
                </li>
            </clr-dropdown-menu>
        </clr-dropdown>
    </div>
</header>
<nav class="subnav">
    <ul class="nav">
        <li class="nav-item">
            <a class="nav-link" [routerLink]="['/ps4']">PS4</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" [routerLink]="['/xbox']">XBOX</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" [routerLink]="['/nintendo']">NINTENDO</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" [routerLink]="['/steam']">STEAM</a>
        </li>
    </ul>
</nav>

<div *ngIf="sessionService.user">
    <h1>
        Welcome {{ sessionService.user.username }}
    </h1>
    <a [routerLink]="['comments/new']">Create new Thread</a>
    <br>
    <a [routerLink]="['comments/list']"> Thread list</a>
    <br>
    <a [routerLink]="['comments/:id']"> Read more</a>
    <br>
</div>

<router-outlet></router-outlet>