
<div class="login-wrapper">
    <form class="login">
        <section class="title">
            <h3 class="welcome">Welcome to FreaksForum</h3>
        </section>
        <div class="login-group LG">
            <input class="username" type="text" [(ngModel)]="username" name="username" id="login_username" placeholder="Username">
            <input class="password" type="password" [(ngModel)]="password" name="password"  id="login_password" placeholder="Password">
            <div class="checkbox">
                <input type="checkbox" id="rememberme">
                <label for="rememberme">
                    Remember me
                </label>
            </div>
            <button (click)="login(username,password)"> Log in </button>
        </div>
    </form>
</div>
