<form>
  <h2> Login Form </h2>
  <label> Username </label>
  <input type="text" [(ngModel)]="username" name="username"/>
  <br>
  <label> Password </label>
  <input type="password" [(ngModel)]="password" name="password"/>

  <button (click)="login(username,password)"> Log in </button>
  
  <clr-alert [clrAlertType]="'alert-success'" (clrAlertClosedChange)="onClose()">
      <div class="alert-item">
          <span class="alert-text">
              you have login!
          </span>
      </div>
  </clr-alert>
  <div>{{closeMessage}}</div>
  
</form>
<button (click)="socialSignIn('google')">Sign in with Google</button>   
<p class="error"> {{ error }} </p>
